@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

body {
    margin: 0;
}

.blob.red {
    background: #FF0000;
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
  }
  
  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }

  .company-logo {
    padding: 3.5rem;
    @media screen and (max-width: 480px) {
      /* .company-logo {
        border: 1px solid red;
      } */
    }
  }
  
  .company-logo img {
    border-radius: 360px;
  }